.bg-video{
    background-image: url(https://s3.amazonaws.com/mirego-website/mirego-website-api-prod/8AuXa4eIqmtd-ZxIG8FhPg.gif);
    background-repeat:no-repeat;
    background-size:cover;
}

.my-masonry-grid {
    display: flex;
    margin-left: -30px; 
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 32px; 
    background-clip: padding-box;
  }  
  .my-masonry-grid_column > div {
    margin-bottom: 32px; 
  } 
  .podcastPrimaryImg{
    animation: podcastPrimaryRotation 16s linear infinite;
  }
  @keyframes podcastPrimaryRotation {
    100% {
        transform: rotate(1turn);
    }
  }
  .podcastSecondaryImg{
    animation: podcastSecondaryRotation 26s linear infinite;
  }
  @keyframes podcastSecondaryRotation {
    100% {
        transform: rotate(1turn);
    }
  }  
  .podcastTertiaryImg{
    animation: podcastTertiaryRotation 40s linear infinite;
  }
  @keyframes podcastTertiaryRotation {
    100% {
        transform: rotate(1turn);
    }
  }