@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%); 
    }
  }
  
.carousel-row {
    animation: scroll 150s linear infinite;
}
.carousel-row:hover {
    animation-play-state: paused;
}