/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .hero-container{
        @apply pt-[149.5px] px-[140px] font-AlmiregoDisplayLight max-xl:pt-[113.5px] max-xl:px-[72px]  max-lg:pt-20 max-lg:flex items-center gap-[13px] max-[1014px]:block max-[1014px]:pt-[92.5px] max-md:flex max-md:gap-[5px] max-md:px-8 max-md:pt-[64px] max-[563px]:block max-[563px]:pt-[70.5px] max-[424px]:pt-12 max-[390px]:px-6 min-[1670px]:flex min-[1670px]:pt-[128px] min-[1670px]:gap-[22px] min-[1921px]:px-[280px] min-[1921px]:block min-[1921px]:pt-[150.5px] min-[1951px]:flex min-[1951px]:pt-[128.5px]
    }
    .hero-flipping-words{
        @apply py-[2px] text-[90px] px-[33px] border-[4px] border-black rounded-[70px] max-xl:py-[1.5px] max-xl:text-[82px]  max-lg:text-[53px]  max-lg:px-[18px]  max-lg:py-[4px]  max-lg:border-[3px] max-md:text-[32px] max-md:px-[12px] max-md:py-[3px] max-md:border-[2px] 
        max-[320px]:border-[1px] max-[320px]:py-[1px]
    }
    .hero-h1-container{
        @apply text-[88px] leading-[110%] max-xl:text-[80px] max-lg:text-[56px] max-lg:leading-[112%] max-md:text-[32px] max-[320px]:text-[28px] overflow-hidden
    }
    .hero-para-container{
        @apply pt-[62px] px-[140px] pb-32 font-AlmiregoDisplayRegular max-xl:pt-[56px] max-xl:px-[72px] max-xl:pb-[96px] max-lg:pt-[48px] max-lg:pb-20 max-md:pt-[30px] max-md:px-8 max-md:pb-16 max-[390px]:px-6 max-[320px]:pt-[15px] max-[320px]:pb-[48px] min-[1921px]:px-[280px] 
    }
    .hero-para{
        @apply text-[56px] leading-[112%] max-xl:text-[52px]  max-lg:text-[36px] max-[454px]:text-[28px] max-[320px]:text-[24px] min-[1734px]:w-[1454px] min-[1921px]:w-[100%]
    }
    .home-sections-h1{
        @apply text-[120px] font-AlmiregoDisplayLight leading-[105%] px-10 max-[1440px]:text-[96px] max-lg:text-[68px] max-md:px-4 max-[424px]:px-2 max-[424px]:text-[40px] max-[320px]:text-[32px]
    }
    .home-h1-span{
        @apply font-NewsreaderItalic font-light tracking-[-1.75px]
    }
    .home-btn-container{
        @apply mt-12 flex max-[424px]:mt-8
    }
    .home-btns{
        @apply px-5 py-3 bg-[#050307] rounded-xl text-[#FFFFFF] tracking-[0.3px] 
        flex items-center justify-center leading-[1] hover:bg-[#242424]
    }
    .home-para-container{
        @apply pt-16 px-[140px] flex justify-between gap-[8px]  max-xl:pt-14 max-xl:px-[72px] max-lg:pt-12 max-md:px-8 max-md:pt-8  max-md:flex-col max-[390px]:px-6 max-[320px]:pt-6
    }
    .home-paras{
        @apply text-[21px] tracking-[0.4px] leading-[125%] max-[424px]:text-[18px] 
        max-[390px]:text-[17px]
    }
    .home-para-w{
        @apply w-1/2 font-AlmiregoRegular max-md:w-full
    }
    .discover-distinctive-container{
        @apply pt-64 max-[1440px]:pt-52 max-xl:pt-40 max-lg:pt-32 max-md:pt-24 max-[424px]:pt-[88px] max-[320px]:pt-[72px]
    }
    .discover-cards{
        @apply relative overflow-hidden text-white cursor-pointer font-AlmiregoRegular  border-[1.5px] 
    }
    .discover-cards-btn{
        @apply py-[2px] px-3 rounded-[50vh] border border-white
    }
    .discover-cardThree{
        @apply max-[986px]:mt-[-30px] max-[778px]:mt-0 cursor-text selection:text-[white]
    }
    .discover-cardFour{
        @apply max-[1440px]:mt-[-52.8px] max-[1376px]:mt-[-84.8px] max-[1311px]:mt-[-116.8px] max-[1188px]:mt-[-148.8px] max-[1143px]:mt-[-118.8px] max-[1112px]:mt-[-150.8px] max-[1076px]:mt-[-182.8px] max-lg:mt-0
    }
    .discover-cards-container{
        @apply px-10 pt-32 grid grid-cols-4 gap-[32px] max-[1440px]:grid-cols-3 max-lg:grid-cols-2 
        max-md:grid-cols-1 max-md:pt-16 max-md:px-4 max-[424px]:px-2
    }
    .distinctive-cards-container{
        @apply pt-16 pb-64 px-10 flex justify-between gap-2 max-[1440px]:pb-52 max-[424px]:px-2
        max-[320px]:pb-[72px] max-xl:pt-12 max-xl:pb-40 max-lg:pt-11 max-lg:pb-32 max-md:flex-col max-md:px-4 max-md:pb-24 max-md:pt-8
    }
    .distinctive-video-container{
        @apply w-[33%] overflow-hidden max-md:w-[100%] min-[2400px]:w-[30%] min-[3100px]:w-[20%] min-[4700px]:w-[15%]
    }
    .stickyCards-para-container{
        @apply py-16 px-10 flex justify-between gap-[8px] max-xl:pt-14 max-lg:pt-12 max-md:px-4 max-md:py-8  max-md:flex-col max-[424px]:px-2 max-[320px]:pt-6
    }
    .stickyCards-cards-container{
        @apply relative px-10 pt-16 translate-y-[-44px] mb-[-145px] max-xl:pt-14 max-lg:pt-12 max-md:pt-8
        max-md:px-4 max-[425px]:px-2 max-[320px]:pt-6 flex flex-col
    }
    .stickyCards-cards{
        @apply cursor-pointer aspect-[7/3] sticky overflow-hidden p-8 pb-0 rounded-[32px] border-[2px] border-[white] max-xl:rounded-[24px] max-md:rounded-[32px] max-md:aspect-[1/1] max-md:pt-7 max-md:px-7  max-[424px]:p-6 max-[424px]:pb-0
    }
    .stickyCards-cardFour-square{
        @apply h-[32px] w-[32px] border-[2px] border-white rounded-[10px] max-md:w-[16px] max-md:h-[16px] max-md:rounded-[5px] max-md:border-[1px] max-[424px]:w-[12px] max-[424px]:h-[12px] max-[424px]:rounded-[3px]
    }
    .stickyCards-cardFour-circle{
        @apply h-[32px] w-[32px] rounded-[50%] bg-white max-md:w-[16px] max-md:h-[16px] max-[424px]:w-[12px] max-[424px]:h-[12px]
    }
    .stickyCards-cardFour-slider{
        @apply text-[rgba(255,255,255,.3)]  text-[64px] py-[16.2px] px-[45px] border-[4px] hover:border-transparent border-[rgba(255,255,255,.3)] rounded-[500px] flex items-center justify-center hover:bg-[rgba(255,255,255,.3)] hover:text-black max-lg:py-[6px] max-lg:px-8 max-lg:text-[48px] max-lg:border-[3px] max-[424px]:text-[24px] max-[424px]:px-[16px] 
        max-md:border-[2px] max-[424px]:py-[3.5px]
    }
    .blogTable-container{
        @apply pt-64 px-[40px] font-AlmiregoRegular my-2 max-[1440px]:pt-52 max-xl:pt-40 max-lg:pt-32 max-md:pt-24 max-md:px-4 max-[424px]:px-2
    }
    .blogTable-row1-container{
        @apply text-[#050307] flex items-stretch justify-between gap-[8px] mb-2 max-lg:hidden
    }
    .blogTable-box-container{
        @apply py-11 px-10 flex flex-1 gap-[154px] bg-[#F7EDDE] rounded-3xl min-h-[240px] max-xl:gap-[16px] max-lg:flex-col max-lg:p-6
    }
    .blogTable-imgBox{
        @apply overflow-hidden flex items-center justify-center max-w-[240px] bg-[#F7EDDE] rounded-3xl max-md:max-w-none
    }
} */