@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family:"AlmiregoDisplayRegular";
    src: url('./fonts/Almirego/AlmiregoDisplayRegular.woff2');
}
@font-face {
    font-family: "AlmiregoDisplayLight";
    src: url('./fonts/Almirego/AlmiregoDisplayLight.ttf');
}
@font-face {
    font-family:"AlmiregoRegular";
    src: url('./fonts/Almirego/AlmiregoRegular.woff2');
}
@font-face {
    font-family:"AlmiregoDisplayBold";
    src: url('./fonts/Almirego/AlmiregoDisplayBold.woff2');
}
@font-face {
    font-family: "AlmiregoLight";
    src: url('./fonts/Almirego/AlmiregoLight.woff2');
}
@font-face {
    font-family:"newsreader-italic";
    src: url('./fonts/Almirego/newsreader-italic.ttf');
}
