@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"PTSerif-Regular" ;
    src: url('./fonts/PTSerif-Regular.ttf');    
}
@font-face {
    font-family:"Latine" ;
    src: url('./fonts/Latine.ttf');
}
@font-face {
    font-family:"Newsreader_14pt-ExtraLightItalic" ;
    src: url('./fonts/Newsreader/static/Newsreader_14pt-ExtraLightItalic.ttf');
}